# Запрещенные к размещению в репозитории файлы #
build/
*/__pycache__/
__pycache__/
venv/
static/
*.pyo
*.pyc
*~
*#
*.bak
*.swp
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
*.md
*.sublime-workspace
.orig
*.ai
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm
*.wav
*.mp3
*.wma
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.eot
*.ttf
*.woff
*.doc
*.docx
*.xml
*.xls
*.xlsx
*.eps
*.SKETCH
*.psd
*.fig
*.pdf
*.bmp
*.jpeg
*.jpg
*.gif
*.png
*.svg
*.ico
*temp.html
*temp.css
*temp.js
*temp.php

# Разрешенные для размещения в репозитории файлы #
!.gitignore