# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

#
.env
./prettierrc.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Запрещенные к размещению в репозитории файлы #
build/
*/__pycache__/
__pycache__/
.venv/
static/
*.pyo
*.pyc
*~
*#
*.bak
*.swp
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
#*.md
*.sublime-workspace
.orig
*.ai
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm
*.wav
*.mp3
*.wma
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.eot
*.ttf
*.doc
*.docx
*.xml
*.xls
*.xlsx
*.eps
*.SKETCH
*.psd
*.fig
*.pdf
*.bmp
*.gif
*.ico
*temp.html
*temp.css
*temp.js
*temp.php
DJANGO_SECRET_KEY.py
.env

# Разрешенные для размещения в репозитории файлы #
!.gitignore