aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
anyio==4.7.0
asgiref==3.8.1
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
Django==5.1.1
django-cors-headers==4.4.0
django_csp==3.8
firebirdsql==1.3.1
frozenlist==1.5.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpie==3.2.3
httpx==0.28.1
idna==3.8
markdown-it-py==3.0.0
mattermostautodriver==1.3.0
mdurl==0.1.2
mmpy_bot==2.2.0
multidict==6.0.5
packaging==24.1
propcache==0.2.1
psycopg==3.2.1
psycopg2-binary==2.9.10
Pygments==2.18.0
PySocks==1.7.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.8.0
schedule==1.2.2
setuptools==75.5.0
sniffio==1.3.1
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.18.3
