.user__info {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.user__side-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f8f9fa;
}

.user__side-menu-item {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(12px + 6 * (100vw - 320px) / 1600);
    cursor: pointer;
    color: #000;
}

.user__side-menu-item_active {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ced4da;
}

.user__side-menu-img {
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__profile {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    column-gap: 150px;
}

.user__profile-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 40px;
}

.user__profile-photo {
    min-width: 195px;
    width: 195px;
    height: 195px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #cecece;
}

.user__profile-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.user__fullname {
    line-height: 30px;
    word-spacing: 100vw;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(16px + 6 * (100vw - 320px) / 1600);
    color: #000;
}

.user__profile-bottom {
    /* padding: 25px; */
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background: #e9ecef; */
}

.user__personal-data {
    padding: 20px;
    width: 100%;
    height: max-content;
    display: grid;
    gap: 25px;
    border-radius: 5px;
    background-color: #f2f3f4;
}

.user__data-item {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 0.5fr 0.5fr;
    row-gap: 35px;
    /* gap: 35px; */
}

.user__item-title {
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

.user__item-value {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    text-overflow: ellipsis;
}

.user__item-value:hover {
    text-overflow: clip;
}

/*  */

.user__tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.user__list-options {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.user__option-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(12px + 6 * (100vw - 320px) / 1600);
    cursor: pointer;
    color: #000;
}

.user__options-slider {
    margin-bottom: 20px;
    width: 100%;
    height: 2.5px;
    background: #ccc;
    border-radius: 5px;
}

.user__options-slider-bar {
    width: 12.5%;
    height: 2.5px;
    background-color: #d71920;
    border-radius: 5px;
}

.user__options-top {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.user__options-top-left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.user__options-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.user__option-item,
.user__options-slider .user__options-slider-bar {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
