:root {
    --color-grey: #666;
    --fw-600: 600;
}

.user__info {
    padding: 25px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 475px 1fr;
    column-gap: 25px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.user__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 55px;
}

.user__profile-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 40px;
}

.user__profile-photo {
    min-width: 195px;
    width: 195px;
    height: 195px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #cecece;
}

.user__profile-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.user__fullname {
    line-height: 30px;
    word-spacing: 100vw;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(16px + 6 * (100vw - 320px) / 1600);
    color: #000;
}

.user__profile-bottom {
    padding: 25px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;
}

.user__personal-data {
    width: 100%;
    display: grid;
    gap: 15px;
}

.user__data-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.user__item-title {
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

.user__item-value {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    text-overflow: ellipsis;
}

.user__item-value:hover {
    text-overflow: clip;
}

/*  */

.user__tabs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.user__list-tabs {
    display: flex;
    column-gap: 30px;
}

.user__tabs-line {
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
}

.user__tabs-top {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.user__tabs-bottom {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}
