.logo {
    max-width: 25.5%;
    width: 100%;
    position: absolute;
    top: 2%;
    left: -3px;
    z-index: -1;
}

.app {
    padding: calc(15px + 0.45vw);
    flex-grow: 1;
    display: flex;
    column-gap: calc(20px + 0.9vw);
    /* background-color: var(--bg-color); */
}

/* Левый столбец приложения */

.app__left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(30px + 1vw);
}

/* Пользователь */

.app__user {
    margin-top: auto;
    height: max-content;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    cursor: pointer;
}

.app__user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* .app__user {
    padding: 0.3125rem;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background-color: #ced4da;
}

.app__user img {
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
} */

.app__user-profile {
    padding: 0.3125rem 0.625rem;
    width: max-content;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0.3125rem;
    background-color: #ced4da;
    z-index: 20;
}

.app__user-info {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    row-gap: 0.3125rem;
}

.app__user-fullname {
    font-family: 'Montserrat-SemiBold';
    font-size: calc(10px + 8 * (100vw - 320px) / 1600);
    color: #666666;
}

/* Правый столбец приложения */

.app__right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: calc(10px + 0.3vw);
}

.main {
    flex: 1;
}

.page {
    width: 100%;
    height: 100%;
}
