.gantt-mode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    row-gap: 1.25rem;
}

.gantt-mode__info-message {
    font-size: calc(0.75rem + 0.6875 * (100vw - 20rem) / 100);
    font-family: 'Montserrat-SemiBold';
}

.gantt-mode-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
}

.gantt-mode__select-list {
    /* width: 100%; */
    padding: 0.3125rem;
    outline: none;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.3125rem;
    cursor: pointer;
}

.gantt-mode__select-list-option {
    background-color: var(--bg-color-dropdown-menu-option);
}

.gantt-grid-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gantt-grid-wrapper_empty {
    justify-content: center;
    align-items: center;
}

.gantt-grid {
    flex-grow: 1;
    display: grid;
    grid-template-rows: max-content 1fr;
    position: absolute;
    inset: 0;
    overflow: auto;
    scrollbar-color: #ced4da #f8f9fa;
    scrollbar-width: thin;
}

.gantt-grid__header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.gantt-grid__header-row,
.gantt-grid__main-row {
    display: grid;
    grid-template-columns: 33.75rem 6.875rem 1fr;
    align-items: center;
}

.gantt-grid__header-row .gantt-time-year {
    background-color: var(--bg-color-gantt-time-year);
}

.gantt-empty-row {
    width: 115px;
    height: 40px;
}

.gantt-time-months {
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-size: calc(9px + 6 * (100vw - 320px) / 1600);
    border-radius: 0.3125rem 0.3125rem 0 0;
    color: #666;
    /* background-color: #f1f1f1; */
    background-color: var(--bg-color-gantt-time-months);
}

.gantt-time-months .gantt-time-period {
    outline: none;
}

.gantt-time-period {
    height: 40px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(30px, 1fr);
    align-items: center;
    text-align: center;
    /* outline: 1px solid #e9eaeb; */
    outline: 1px solid var(--color-outline-gantt-time-period);
}

.gantt-time-period.top-divide {
    border-top: 1.5px solid #ff002b;
}

/* .gantt-time-period__day {
    background-color: #fff;
} */

.gantt-time-period__curr-day {
    position: relative;
}

.gantt-time-period__curr-day::before {
    content: 'Сегодня';
    padding: 0.3125rem;
    position: absolute;
    top: 75%;
    left: 0;
    border-radius: 0.3125rem;
    background-color: #ef233c;
    color: #fff;
    z-index: 10;
}

.gantt-time__vr-line {
    width: 0;
    position: absolute;
    border: 0.5px solid #ef233c;
    top: 100%;
    left: 0;
    z-index: 10;
}

.gantt-task-main-title {
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Montserrat-SemiBold';
    /* color: #000; */
    color: var(--text-color-gantt-task-main-title);
    /* border: 1px solid var(--border-color-gantt-task-main-title); */
    background-color: var(--bg-color-gantt-task-main-title);
}

.gantt-task-title {
    /* padding: 0 0.625rem; */
    height: 100%;
    position: sticky;
    left: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
    cursor: pointer;
    /* background-color: #f1f1f1; */
    background-color: var(--bg-color-gantt-task-title);
    z-index: 3;
}

.gantt-task-title_done {
    /* text-decoration: line-through 1.5px solid #000; */
    text-decoration: line-through 1.5px solid var(--text-color-gantt-task-title-done);
}

.gantt-task-title__span {
    font-weight: bold;
}

.gantt-task-wrapper,
.gantt-task-title-wrapper {
    padding: 0 0.625rem;
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    /* background-color: #f1f1f1; */
    background-color: var(--bg-color-gantt-task-title);
    z-index: 3;
}

.gantt-task-titles {
    display: flex;
    column-gap: 0.3vw;
}

.gantt-time-months {
    /* background-color: #f1f1f1; */
    color: var(--text-color-gantt-time-months);
    background-color: var(--bg-color-gantt-time-months);
}

.gantt-task-actions {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.gantt-task-btn-action {
    cursor: pointer;
    font-size: 1.25rem;
}

.gantt-time-period-cell {
    height: 100%;
    /* border-right: 0.5px solid #e9eaeb; */
    color: var(--text-color-gantt-time-months);
    border-right: 0.5px solid var(--color-border-gantt-time-period-cell);
}

.gantt-time-period-cell_start {
    position: relative;
}

.gantt-time-period-cell_start::after {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: red;
}

.gantt-time-period-cell__users {
    column-gap: 10px;
    display: flex;
    position: absolute;
    top: 0;
    right: -100%;
    transform: translateX(100%);
    z-index: 2;
}

.gantt-time-period-cell-task {
    width: 100%;
    height: 60%;
    display: grid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: move;
    transition: all 0.8s ease;
    z-index: 1;
}

.gantt-time-period-cell-task.backlight {
    box-shadow: 0px 0px 8px 8px #abd2fa;
}

.gantt-time-period-cell-task_dragging {
    opacity: 0.5;
}

.gantt-time-period-cell__total-task {
    box-shadow: none;
    cursor: default;
}

.gantt-task-assigned-user {
    padding: 3px 5px;
    width: max-content;
    column-gap: 10px;
    display: flex;
    border-radius: 50%;
    transition: opacity 0.8s ease-in-out;
    /* background-color: #dcdcdc; */
    background-color: var(--bg-color-gantt-task-assigned-user);
    z-index: 2;
}

.gantt-task-assigned-user_backlight {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.gantt-task-assigned-user:hover {
    border-radius: 5px;
    cursor: pointer;
}

.gantt-task-assigned-user__info {
    display: none;
    opacity: 0;
}

.gantt-task-assigned-user:hover .gantt-task-assigned-user__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    opacity: 1;
}

.gantt-task-assigned-user__photo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    border-radius: 50%;
}
