/* Фильтры таблицы */
.table-mode__thead-tr {
    background-color: var(--bg-color-table-mode-header);
}

.table-mode__thead-td {
    padding: 0 0.5rem;
}

.table__filters-inpt-filter,
.table__dropdown-filter {
    width: 100%;
    outline: none;
    background-color: inherit;
    /* background-color: var(--bg-color-table-mode-filter-dropdown-list); */
}

/* Фильтр "Выпадающий список" */

.table__dropdown-filter-wrapper {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    row-gap: 0.5vw;
}

.table__selected-filters-wrapper {
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.table__selected-filters-list {
    display: flex;
    column-gap: 0.5vw;
    flex-wrap: nowrap;
    position: absolute;
    inset: 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.table__selected-filters-list-item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    border-radius: 8px;
    background-color: var(--bg-color-table__selected-filters-list-item);
}

.table__selected-filters-list-item p {
    white-space: nowrap;
}

.table__selected-filters-list-item button {
    font-size: 1.25rem;
    cursor: pointer;
}

.table__dropdown-filter option {
    background-color: var(--bg-color-dropdown-menu-option);
}

.table-mode__thead-tr-reset-filters,
.table-mode__thead-tr-filters {
    /* background-color: #fff; */
    background-color: var(--bg-color-table-mode-header-reset-filters);
}

.table-mode__thead-td-reset-filters {
    width: 100%;
    padding: 0.3125rem 0.625rem;
    outline: none;
}

.table-mode__thead-td-reset-filters p {
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    font-family: 'Montserrat-SemiBold';
    text-decoration: underline;
}
