.timetable-mode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timetable-mode__header {
    padding: 20px 0;
    background-color: #a09f9f;
}

.timetable__content {
    flex-grow: 1;
    background-color: #f9f9f9;
}
