.side-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.side-menu__item-box {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.side-menu__item-box_active {
    /* background-color: #d9d9d9; */
    background-color: var(--bg-color-side-menu-item-active);
}

.side-menu__item-image {
    width: calc(24px + 0.25vw);
    height: calc(24px + 0.25vw);
    display: block;
}
