.popup__add-task {
    /* max-width: 50%; */
    /* max-width: 60%; */
    max-width: 70%;
    width: 100%;
    color: var(--text-color);
}

.popup__wrapper-add-task {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

/* Контент всплывающего окна */

.popup__task-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* row-gap: 2vw; */
    row-gap: 1vw;
}

.popup__add-task-form,
.popup__edit-task-form {
    padding: 0;
    max-width: 100%;
    display: grid;
    column-gap: 2vw;
}

.popup__add-task-form {
    grid-template-columns: 2fr 1fr;
}

.popup__edit-task-form {
    /* grid-template-columns: 0.5fr 2fr 1fr; */
    grid-template-columns: 0.3fr 1.5fr 1.5fr;
}

/* Цепочка статусов */

.popup-task-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.popup-task-steps__progress-bar {
    width: 4px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color-popup-task-steps__progress-bar);
}

.popup-task-steps__indicator {
    width: 4px;
    height: 0;
    top: 25%;
    position: absolute;
    transition: all 0.3s ease;
    background-color: rgba(215, 25, 32, 0.8);
}

.popup-task-step {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    /* border: 1px solid #d71920; */
    /* border: 1px solid rgba(215, 25, 32, 0.9); */
    border: 4px solid var(--bg-color-popup-task-step);
    transition: all 0.2s ease;
}

.popup-task-step_active {
    font-size: calc(0.75rem + 4 * (100vw - 320px) / 1600);
    /* font-size: calc(0.5rem + 4 * (100vw - 320px) / 1600); */
    border: 4px solid rgba(215, 25, 32, 0.9);
}

.popup-task-step[data-step]::after {
    content: attr(data-step);
    width: max-content;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.popup-task-steps__actions {
    position: relative;
}

.popup-task-steps__actions_empty {
    display: none;
}

.popup-task-steps__actions-list {
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%);
    font-size: 12px;
    background-color: var(--bg-color-popup-task-steps__actions-list);
    /* background-color: #4c4c4e; */
    z-index: 10;
}

.popup-task-steps__actions_completed {
    transform: translate(50%, 25%);
}

.popup-task-steps__actions-list li {
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.popup-task-steps__actions-list li p {
    padding-top: 2.5px;
}

.popup-task-steps__actions-list li span {
    font-size: calc(0.75rem + 4 * (100vw - 320px) / 1600);
}

.popup-task-steps__actions-list li:hover {
    color: #f1f1f1;
    background-color: rgba(215, 25, 32, 0.8);
}

.popup-task-steps__actions-list li:not(:last-child) {
    border-bottom: 1px solid var(--border-color-popup-task-steps__action);
}

/* Левая часть формы */

.popup__task-form-left {
    display: flex;
    flex-direction: column;
    row-gap: 1.25vw;
}

.popup__add-task .popup-content-item {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) 1fr;
    align-items: center;
    column-gap: 0.625rem;
}

.popup-content-title {
    font-family: 'Montserrat-SemiBold';
    /* color: #666666; */
    color: var(--text-color-popup-content-title);
}

/* Элементы формы */

/* Блок "Номер договора" */

.popup__content-contractnum .inpt-txt {
    padding: 0.5vw;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
    outline: none;
}

.popup__content-contractnum .popup__menu-wrapper {
    row-gap: none;
    column-gap: 20px;
}

.dropdown-menu-search {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
    padding: 0.25vw;
}

.dropdown-menu-search__input {
    width: 100%;
    outline: none;
}

.popup__menu-actions {
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    column-gap: 10px;
}

.popup__menu-actions .icon-btn__open-task {
    cursor: pointer;
}

/* Блок "Вид работы" */

.popup__menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.625rem;
}

/* Блок "Постановщик", "Исполнитель" */

.popup__user-inner {
    display: flex;
    column-gap: 0.9375rem;
}

.popup__users-list {
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
}

/* Блок "Родительская задача" */
.popup__content-parent-tasks .popup__menu-wrapper {
    column-gap: 1vw;
}

/* Блок "Комментарий" */

.txt-area-task,
.txt-area-comment {
    padding: 0.5vw;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
    outline: none;
    resize: none;
}

/* Блоки "Дедлайн" "Дата начала" */

.popup__date-wrapper {
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
}

.popup-task-date {
    padding: 0.375rem;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
}

.popup-task-date-input {
    outline: none;
}

.popup-task-date-ic-btn {
    padding: 0;
    width: max-content;
}

.popup-task-date-ic-btn .icon-btn__image {
    width: calc(10px + 0.3vw);
    height: calc(10px + 0.3vw);
}

/* Блок "Заверешно" */

.popup__checkbox-wrapper {
    width: calc(16px + 0.465vw);
    height: calc(16px + 0.465vw);
    position: relative;
}

.popup__inpt-checkbox {
    position: absolute;
    opacity: 0;
    inset: 0;
    z-index: 1;
}

.popup__custom-checkbox {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 0.3125rem;
}

.popup__custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    background-image: url('../../../../../../../../../public/img/check_mark.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.popup__inpt-checkbox:checked + .popup__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(0.7);
}

/* Правая часть */

.popup__task-form-right {
    display: flex;
    flex-direction: column;
}

/* Разделы таблиц */

.popup__task-form-tabs {
    display: flex;
    flex-direction: column;
}

.popup__task-form-tabs-header {
    display: flex;
}

.popup__task-form-tabs-header-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    column-gap: 0.9375rem;
    font-family: 'Montserrat-SemiBold';
    cursor: pointer;
    color: var(--text-color-popup-content-title);
}

.popup__task-form-tabs-header-item_active {
    border: 1px solid var(--border-color-popup__task-form-tabs-header-item_active);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--bg-color-popup__task-form-tabs-header-item_active);
}

.popup__task-form-tabs-header-item span {
    padding: 0 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: calc(1.25rem + 0.25vw - 0.8px);
    color: #fff;
    background-color: #99ad60;
}

.popup__task-form-tabs-content {
    /* padding: 10px; */
    /* border: 1px solid var(--border-color-popup__task-form-tabs-content); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--bg-color-popup__task-form-tabs-content);
}

/* Общие стили для блоков "Времязатраты" и "Подзадачи" */

.popup__task-form-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* row-gap: 25px; */
    row-gap: 1vw;
}

.popup__task-form-btn-add {
    display: flex;
    align-items: center;
    column-gap: 0.9375rem;
    font-family: 'Montserrat-SemiBold';
    color: var(--text-color-popup-content-title);
}

.popup__task-form-btn-add span {
    background-color: #99ad60;
    border-radius: 0.3125rem;
    color: #fff;
    cursor: pointer;
    font-size: calc(1.25rem + 0.25vw - 0.8px);
    padding: 0 0.3125rem;
}

.popup__table-wrapper {
    max-height: 150px;
    /* max-height: 100px; */
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.popup__table-content {
    display: grid;
    grid-template-rows: max-content 1fr;
    position: relative;
}

.popup__table-head {
    display: grid;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color-table-mode-header);
}

.popup__table-header-item,
.popup__table-row-cell {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-popup__table-row-cell);
}

.popup__table-header-item {
    font-family: 'Montserrat-SemiBold';
    color: var(--text-color-popup-content-title);
}

.popup__table-header-timehours {
    display: flex;
    flex-direction: column;
}

.popup__table-body-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
}

.popup__table-row {
    display: grid;
    align-items: center;
}

/* Блок "Подзадачи" */

.popup__table-head-subtasks,
.popup__table-row {
    grid-template-columns: 350px repeat(5, minmax(30px, 1fr));
}

/* Ячейка "Название задачи" */

.popup__table-cell-subtask {
    text-decoration: underline;
    cursor: pointer;
}

.popup__table-row-cell-task {
    justify-content: flex-start;
}

/* Общие стили для ячеек "Дата начала" и "Дедлайн" */

.popup__table-cell-date {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
}

.popup__table-cell-date-input {
    width: 100%;
    text-align: center;
}

/* Ячейка "Сотрудник" */

.popup__table-cell-user p {
    padding: 0;
}

/* Блок "Времязатраты" */

.popup__task-form-row-columns {
    display: flex;
    column-gap: 1vw;
}

/* Блок Время исполнения и План. времязатраты */

.popup__timecosts-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1vw;
}

/* .popup__content-exectime h2,
.popup__content-planned-time h2 {
    margin-bottom: 5px;
} */

/* План. времязатраты */

/* .popup__content-planned-time .popup__date-wrapper {
    padding: 0.375rem;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
} */

.popup__task-form-row-header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.popup__table-head-timecosts,
.popup__timecosts-list {
    grid-template-columns: repeat(4, 1fr) minmax(0, 1.5fr) 0.2fr;
}

.popup__timecosts-list > * {
    text-align: center;
}

/*  Ячейка "Комментарий" */
.popup__table-cell-txt-area {
    /* padding: 0.1vw; */
    padding: 5px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 0.3125rem;
    outline: none;
    resize: none;
}

/* Блок "Комментарий" */

.popup__content-comment .popup-content-title {
    padding-top: 5px;
    align-self: flex-start;
}

.txt-area-comment {
    width: 100%;
    height: 80px;
}
