@import url(./css/reset.css);
@import url(./css/fonts.css);

html {
    font-family: 'Montserrat-Regular';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: calc(0.5rem + 4 * (100vw - 320px) / 1600);
}

#root {
    min-height: 100vh;
    display: flex;
    /* height: 100%; */
}
