@import url(./css/reset.css);
@import url(./css/fonts.css);

html {
    font-family: 'Montserrat-Regular';
}

/* Светлая тема */
html[data-theme='light'] {
    --text-color: #000;
    --hr-line-color: #dfdfdf;
    /* Задний фон */
    --bg-color: transparent;
    --bg-color-side-menu-item-active: #d9d9d9;
    --bg-color-app-options: #fff;
    --bg-color-app-option-active: #f1f1f1;
    --bg-color-btn-app-theme: #dee2e6;
    /* Канбан */
    --bg-gradient-kanban-col-top: linear-gradient(90deg, #f1f1f1, #fff0 98.09%);
    --border-color-kanban-col: #dfdfdf;
    --color-card: #000;
    --text-color-card-stage: #000;
    --text-color-card-figcaption: #000;
    --text-color-card-participant: #666666;
    --bg-color-fill-text: #e3e3e3;
    --bg-color-card: #f1f1f1;
    /* Режим отображения Список*/
    --bg-color-table-mode-header-reset-filters: #fff;
    --bg-color-table-mode-header: #f1f1f1;
    --bg-color-table-mode-filter-dropdown-list: #fff;
    --border-color-table-mode-cell: #dfdfdf;
    --text-color-cell-stage: #000;
    --text-color-cell-subtitle: #a9a9a9;
    /* Режим отображения Список в разделе просмотра договора*/
    --bg-color-tab-work-table-mode-header-reset-filters: #fff;
    --bg-color-tab-work-table-mode-header: #f1f1f1;
    /* --bg-color-:  */
    /* Режим отображения Календарь */
    --bg-gradient-calendar: linear-gradient(90deg, #fff0 0, #fff 85%);
    --bg-color-popup-calendaryymm: #fff;
    --bg-color-calendar-table-thead: #f1f1f1;
    --bg-color-calendar-table-cell-active: #dfdfdf;
    --border-color-calendar-cell: #dfdfdf;
    --bg-color-calendar-sidepanel: #f1f1f1;
    --bg-color-calendar-sidepanel-card: #fff;
    /* --text-shadow-card: none; */
    /* Режим отображения Гант */
    --bg-color-gantt-filter-stage: #f2f3f4;
    --bg-color-gantt-time-months: #f1f1f1;
    --text-color-gantt-time-months: #000;
    --bg-color-gantt-time-year: #fff;
    --bg-color-gantt-task-main-title: #e4e4e4;
    --text-color-gantt-task-main-title: #000;
    --border-color-gantt-task-main-title: #c0c0c0;
    --text-color-gantt-task-title-done: #000;
    --bg-color-gantt-task-title: #f1f1f1;
    --color-outline-gantt-time-period: #e9eaeb;
    --color-border-gantt-time-period-cell: #e9eaeb;
    --bg-color-gantt-task-assigned-user: #dcdcdc;
    /* Формы заполнения данных */
    --bg-color-section-dataform: #f1f1f1;
    --bg-color-section-dataform-tab-active: #fff;
    /* Раздел Общие данные по договору */
    --bg-color-tab-general: #f1f1f1;
    --bg-color-icon-btn-save: #e0e8b2;
    --bg-color-tab-general-column: #fff;
    --bg-color-icon-btn-color: #f1f1f1;
    --text-color-tab-general-row-title: #666666;
    --bg-color-tab-general-image-actions: #fff;
    --text-color-dropdown-menu-services: #666666;
    --bg-color-tab-general-row-item-user: #f1f1f1;
    /* Раздел Работа и задачи */
    --bg-color-tab-work: #fff;
    --text-color-popup-content-title: #666;
    /* Всплывающее окно задачи */
    --bg-color-popup-task-steps__progress-bar: #e8e9eb;
    --bg-color-popup-task-step: #d3d3d3;
    --bg-color-popup-task-steps__actions-list: #e8e9eb;
    --border-color-popup-task-steps__action: #c5c6d0;
    --bg-color-popup__task-form-tabs-header-item_active: #fcfcfc;
    --border-color-popup__task-form-tabs-header-item_active: #d3d3d3;
    --bg-color-popup__task-form-tabs-content: #fcfcfc;
    --border-color-popup__task-form-tabs-content: #d3d3d3;
    --border-color-popup__table-row-cell: #e7e7e7;
    /* #A9A9A9 */
    /* Модальное окно подтверждения */
    --bg-color-popup__action-selection-btn: #dcdcdc;
    /* Раздел Аккаунт пользователя */
    --bg-color-user-info: #f1f1f1;
    --bg-color-user-side-menu-content: #f8f9fa;
    --bg-color-user-side-menu-item-active: #ced4da;
    --bg-color-user-personal-data: #f2f3f4;
    --bg-color-user-options-content: #fff;
    --text-color-user-item-title: #666;
    /* Общие стили */
    --bg-color-popup: #fff;
    --bg-color-dropdown-menu-list: #e3e3e3;
    --bg-color-dropdown-menu-option: #fff;
}

/* Темная тема */
html[data-theme='dark'] {
    --text-color: #fff;
    --hr-line-color: #474a51;
    /* Задний фон */
    --bg-color: #2c2b29;
    --bg-color-side-menu-item-active: #444444;
    --bg-color-app-options: #272728;
    --bg-color-app-option-active: #444444;
    --bg-color-btn-app-theme: #495057;
    /* Канбан */
    --bg-gradient-kanban-col-top: linear-gradient(90deg, #323232, #4d4d4d 98.09%);
    --border-color-kanban-col: #adb5bd;
    --text-color-card-stage: #000;
    --text-color-card-figcaption: #000;
    --text-color-card-participant: #dee2e6;
    --color-card: #fafaff;
    --bg-color-fill-text: #646263;
    --bg-color-card: #454545;
    /* Режим отображения Список*/
    --bg-color-table-mode-header-reset-filters: #2c2b29;
    --bg-color-table-mode-header: #353535;
    --bg-color-table-mode-filter-dropdown-list: #444444;
    --border-color-table-mode-cell: #adb5bd;
    --text-color-cell-stage: #000;
    --text-color-cell-subtitle: #a8a9ad;
    /* Режим отображения Список в разделе просмотра договора*/
    --bg-color-tab-work-table-mode-header-reset-filters: #353535;
    --bg-color-tab-work-table-mode-header: #2d2c2a;
    /* Режим отображения Календарь */
    --bg-gradient-calendar: linear-gradient(90deg, #fff0 0, #2c2b29 85%);
    --bg-color-popup-calendaryymm: #444444;
    --bg-color-calendar-table-thead: #353535;
    --bg-color-calendar-table-cell-active: #444444;
    --border-color-calendar-cell: #adb5bd;
    --bg-color-calendar-sidepanel: #353535;
    --bg-color-calendar-sidepanel-card: #454545;
    /* --text-shadow-card: 1px 0 1px #110e15, 0 1px 1px #110e15, -1px 0 1px #110e15, 0 -1px 1px #110e15; */
    /* Режим отображения Гант */
    --bg-color-gantt-filter-stage: #444444;
    --bg-color-gantt-time-months: #444444;
    --text-color-gantt-time-months: #fff;
    --bg-color-gantt-time-year: #2c2b29;
    --bg-color-gantt-task-main-title: #515052;
    --text-color-gantt-task-main-title: #fff;
    --border-color-gantt-task-main-title: #dfdfdf;
    --text-color-gantt-task-title-done: #f1f1f1;
    --bg-color-gantt-task-title: #222222;
    --color-outline-gantt-time-period: #454545;
    --color-border-gantt-time-period-cell: #454545;
    --bg-color-gantt-task-assigned-user: #444444;
    /* Формы заполнения данных */
    --bg-color-section-dataform: #2c2b29;
    --bg-color-section-dataform-tab-active: #353535;
    /* Раздел Общие данные по договору */
    --bg-color-tab-general: #2c2b29;
    --bg-color-icon-btn-save: #3da35d;
    --bg-color-tab-general-column: #353535;
    --bg-color-icon-btn-color: #444444;
    --text-color-tab-general-row-title: #bec3c6;
    --bg-color-tab-general-image-actions: #4c4c4e;
    --text-color-dropdown-menu-services: #f1f1f1;
    --bg-color-tab-general-row-item-user: #4c4c4e;
    /* Раздел Работа и задачи */
    --bg-color-tab-work: #353535;
    --text-color-popup-content-title: #bec3c6;
    /* Всплывающее окно задачи */
    --bg-color-popup-task-steps__progress-bar: #333;
    --bg-color-popup-task-step: #4c4c4e;
    --bg-color-popup-task-steps__actions-list: #4c4c4e;
    --border-color-popup-task-steps__action: #212529;
    --bg-color-popup__task-form-tabs-header-item_active: #343432;
    --border-color-popup__task-form-tabs-header-item_active: grey;
    --bg-color-popup__task-form-tabs-content: #343432;
    --border-color-popup__task-form-tabs-content: grey;
    --border-color-popup__table-row-cell: #808080;
    /* Модальное окно подтверждения */
    /* #DBE2E9 */
    --bg-color-popup__action-selection-btn: #888b8d;
    /* Раздел Аккаунт пользователя */
    --bg-color-user-info: #2c2b29;
    --bg-color-user-side-menu-content: #2a2a2a;
    --bg-color-user-side-menu-item-active: #454545;
    --bg-color-user-personal-data: #454545;
    --bg-color-user-options-content: #2c2b29;
    --text-color-user-item-title: #bec3c6;
    /* Общие стили */
    --bg-color-popup: #2c2b29;
    --bg-color-dropdown-menu-list: #444444;
    --bg-color-dropdown-menu-option: #474a51;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-color);
    font-size: calc(0.5rem + 4 * (100vw - 320px) / 1600);
    background-color: var(--bg-color);
}

#root {
    min-height: 100vh;
    display: flex;
    /* height: 100%; */
}
