.popup__works {
    padding: 1vw;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    border: 1.5px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    z-index: 10;
}

.popup__filters {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.popup__filters-item {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) 1fr;
    align-items: center;
}

/* Блок "Отдел" */

.popup__filters-item-department,
.popup__filters-item-group {
    padding: 10px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.popup__works .icon-btn__department,
.popup__works .icon-btn__group {
    width: 100%;
}

/* Блок "Группа" */

.popup__works .icon-btn__department .icon-btn__span,
.popup__works .icon-btn__group .icon-btn__span {
    padding: 0;
    border-radius: 0;
    font-family: 'Montserrat-Regular';
    color:#000;
    background-color: transparent;
}

.works_popup_filters .menu_items.group {
    width: 100%;
}

/* Блок "Ответственный" */

.popup__filters-item-responsible {
    width: max-content;
    display: flex;
    column-gap: 0.5vw;
    position: relative;
}

/* Блок "Срок до" */

.popup__filters-item-deadline {
    position: relative;
}

.popup__filters-item-deadline-begin {
    width: max-content;
    padding: 10px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    text-align: center;
}

.react-calendar {
    border: 0;
}
