.section__dataform {
    padding: calc(1.25rem + 0.3vw);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    row-gap: calc(1.25rem + 0.3vw);
    border-radius: 0.3125rem;
    background-color: #f1f1f1;
}

/* Шапка формы  */

.section__dataform-header,
.section__dataform-header-left,
.section__dataform-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__dataform-header-left {
    height: 100%;
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    /* flex-direction: column;
    row-gap: 0.3125rem; */
    column-gap: calc(0.9375rem + 0.3vw);
}

.section__dataform-header-right {
    column-gap: calc(1.875rem + 0.3vw);
}

.section__dataform-header-title {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(0.75rem + 8 * (100vw - 320px) / 1600);
}

.section__dataform-title-contract {
    width: max-content;
    height: max-content;
    white-space: nowrap;
}

.section__dataform-title-address {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.section__dataform-title-address span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section__dataform-header-img {
    width: calc(0.75rem + 0.465vw);
    height: calc(0.75rem + 0.465vw);
    display: block;
}

/* Табы */

.section__dataform-tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section__dataform-tabs-header {
    display: flex;
}

.section__dataform-tab-btn {
    padding: calc(0.3125rem + 0.15vw) calc(10px + 0.15vw);
    font-size: calc(0.5rem + 6 * (100vw - 320px) / 1600);
    cursor: pointer;
}

.section__dataform-tab-btn_active {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    background-color: #fff;
}

.section__dataform-tabs-content {
    flex-grow: 1;
}

.section__tab {
    width: 100%;
    height: 100%;
}
